/* 공통 부분 */
* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

/* 회원가입 */
.join_box {
    width: 500px;
    height: 500px;
    margin: 100px auto auto auto;
}

.join_box > h1 {
    text-align: center;
    margin-bottom: 30px;
}

.join_box > form > table {
    width: 400px;
    height: 300px;
    margin: auto;
} 

.join_box > form > .join_button {
    display: flex;
    justify-content: center;
}

.join_box > form > .join_button > input {
    margin: 10px;
}


/* 로그인 */
.login_box {
    text-align: center;
    margin: 100px auto auto auto;

}

.login_form {
    display: inline-block;
}

.login_form > form > table {
    border: black 2px solid;

    width: 300px;
    height: 100px;
}

.login_btn > a > div{
    background: gray;
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}

.login_form_bottom {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: auto;
}